.ranking-section {
      display: inline-block;
      width: 100%;
     }
     .ranking-section .card {
       border: none;
       width: 25%;
       float: left;
       padding: 0 10px;
    }
    .ranking-section .card:nth-child(-2n+4) {
      clear: both;
      page-break-after: always;
    }
    .card:nth-child(3n+4) {
      clear: both;
    }